In [1]:
import pandas as pd
import os

pd.options.display.max_columns = None

In [14]:
restaurants = pd.read_csv(r'C:\Users\Garrett Pinkston\Desktop\TIM147\Project\data\RestaurantsWithDates.csv')
restaurants.head(3)

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,is_restaurant,dates
0,0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","['Restaurants', 'Food', 'Bubble Tea', 'Coffee ...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",True,"['2010-08-18 17:05:36', '2010-11-25 17:45:31',..."
1,1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","['Burgers', 'Fast Food', 'Sandwiches', 'Food',...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",True,"['2012-12-16 05:27:33', '2013-02-15 04:00:46',..."
2,2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': ""u'full_bar'"", '...","['Pubs', 'Restaurants', 'Italian', 'Bars', 'Am...",NaN,True,"['2012-04-16 22:28:12', '2012-04-20 22:38:55',..."

In [11]:
review1 = pd.read_csv(r'C:\Users\Garrett Pinkston\Desktop\TIM147\Project\data\RestaurantReview1.csv')

In [12]:
review1.head(3)

,Unnamed: 0,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,1,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
2,2,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03

In [54]:
reviews = review1.sort_values(by='date')
reviews = reviews.groupby('business_id').agg(list).reset_index()
reviews.drop_duplicates(subset='business_id',inplace=True)
reviews.head(3)

,business_id,Unnamed: 0,review_id,user_id,stars,useful,funny,cool,text,date
0,---kPU91CF4Lq2-WlRu9Lw,"[907280, 845951, 889629, 874103, 908792, 79440...","[8NnKwxC71uLNWs00efgD7w, 9j7uG9sA5WU7yraCQAqnG...","[YhbCO1DVlNYkmVv8DCAIxw, nRy6-tnPPeShNhZg9UiU4...","[5, 5, 5, 5, 4, 3, 4, 5, 5, 5, 5, 4, 3, 1, 5, ...","[0, 0, 1, 2, 4, 0, 0, 0, 0, 3, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 4, 0, 0, 0, 1, 3, 1, 0, 1, 0, 1, ...",[Unfortunately the site for Frankie's is incor...,"[2020-01-29 18:39:02, 2020-02-11 00:30:51, 202..."
1,--7PUidqRWpRSpXebiyxTg,"[1643994, 1508289, 1652433, 1600229, 1778851, ...","[fIGjYZdVkfAk8qxEEb1tcQ, 3Ta-cyj4Iu8XBAltOrdj6...","[r3QexFIhBXBT99canAgVEg, uEgYr-Umi76NKTrMeDQq1...","[4, 3, 3, 2, 1, 2, 1, 1, 1, 1, 1]","[2, 1, 0, 1, 1, 0, 3, 0, 0, 1, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[As far as Humpty's goes, this is a good one. ...","[2010-04-08 00:38:16, 2011-02-17 03:32:51, 201..."
2,--8IbOsAAxjKRoYsBFL-PA,"[1873046, 1868304, 1456199, 1553909, 1605791, ...","[UYYEUH8qldJg4C4XqVX3Gg, QzHuw7wadQIdzlc5HlLqv...","[gdcRlubKDmslUYFPHUp1Cg, 0OPQST9dAnfP5vRU0zw72...","[2, 1, 5, 1, 4, 4, 2, 3, 5, 3, 1, 5, 5, 1, 4, ...","[6, 0, 0, 1, 1, 5, 0, 4, 1, 1, 1, 0, 0, 1, 1, ...","[0, 0, 1, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1, 0, 1, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, ...",[Eh.. not that great don't waste your money on...,"[2015-06-16 02:10:33, 2015-08-20 00:18:26, 201..."

In [55]:
review1['business_id'].nunique()

20842

In [56]:
reviews = reviews.rename(columns={'stars': 'starList','date':'reviewDate'})
reviews = reviews[['business_id','starList','useful','funny','cool','reviewDate']]
final = restaurants.merge(reviews,on='business_id')

In [59]:
i=0
print(len(final['starList'].iloc[i]))
print(len(final['reviewDate'].iloc[i]))

87
87

In [66]:
final = final.rename(columns={'dates': 'checkinDate'})

In [67]:
final.drop(['Unnamed: 0'],axis=1,inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [68]:
final.head(3)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,is_restaurant,checkinDate,starList,useful,funny,cool,reviewDate
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","['Restaurants', 'Food', 'Bubble Tea', 'Coffee ...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",True,"['2010-08-18 17:05:36', '2010-11-25 17:45:31',...","[4, 4, 3, 4, 3, 4, 5, 4, 4, 5, 5, 4, 4, 3, 3, ...","[6, 1, 1, 2, 2, 5, 1, 5, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...","[2, 1, 1, 1, 1, 3, 1, 4, 0, 0, 0, 0, 0, 0, 0, ...","[2008-03-09 00:36:56, 2008-06-16 13:41:58, 200..."
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","['Burgers', 'Fast Food', 'Sandwiches', 'Food',...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",True,"['2012-12-16 05:27:33', '2013-02-15 04:00:46',...","[4, 4, 1, 1, 2, 1]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[2012-12-18 08:45:44, 2013-07-08 00:59:08, 201..."
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': ""u'full_bar'"", '...","['Pubs', 'Restaurants', 'Italian', 'Bars', 'Am...",NaN,True,"['2012-04-16 22:28:12', '2012-04-20 22:38:55',...","[4, 2, 4, 1, 4, 4, 1, 4, 1, 4, 3, 2, 5, 4, 1, ...","[4, 4, 0, 2, 2, 0, 3, 0, 2, 0, 0, 0, 1, 0, 2, ...","[0, 5, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[2012-04-16 23:53:04, 2012-04-17 17:03:23, 201..."

In [70]:
snippet=final.iloc[0:100]
snippet.to_csv(r'C:\Users\Garrett Pinkston\Desktop\TIM147\Project\data\snippetRestaurants.csv')

In [71]:
final.to_csv(r'C:\Users\Garrett Pinkston\Desktop\TIM147\Project\data\RestaurantsWithDatesAndStars.csv')